Cargar el datasety seleccionar las columnas relevantes para el análisis: 'Title', 'Year', 'Runtime(Minutes)', 'Rating', 'Votes', 'Revenue(Millions)'.

In [30]:
import pandas as pd

# Ruta al archivo CSV
ruta_del_csv = 'archive/IMDB-Movie-Data.csv'

# Cargar el conjunto de datos con pandas
dataset = pd.read_csv(ruta_del_csv)
print(dataset.columns)

# Seleccionar columnas relevantes
columnas_relevantes = ['Title', 'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)']
dataset_seleccionado = dataset[columnas_relevantes].copy(deep=True) 

# Ahora, 'dataset_seleccionado' contiene solo las columnas relevantes del conjunto de datos
#dataset_seleccionado
dataset_seleccionado

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

,Title,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions)
0,Guardians of the Galaxy,2014,121,8.1,757074,333.13
1,Prometheus,2012,124,7.0,485820,126.46
2,Split,2016,117,7.3,157606,138.12
3,Sing,2016,108,7.2,60545,270.32
4,Suicide Squad,2016,123,6.2,393727,325.02
...,...,...,...,...,...,...
995,Secret in Their Eyes,2015,111,6.2,27585,NaN
996,Hostel: Part II,2007,94,5.5,73152,17.54
997,Step Up 2: The Streets,2008,98,6.2,70699,58.01
998,Search Party,2014,93,5.6,4881,NaN
999,Nine Lives,2016,87,5.3,12435,19.64

Convertir estas columnas a un array de Numpy.

In [31]:
import numpy as np

array_numpy = dataset_seleccionado.values
print(array_numpy)

[['Guardians of the Galaxy' 2014 121 8.1 757074 333.13]
 ['Prometheus' 2012 124 7.0 485820 126.46]
 ['Split' 2016 117 7.3 157606 138.12]
 ...
 ['Step Up 2: The Streets' 2008 98 6.2 70699 58.01]
 ['Search Party' 2014 93 5.6 4881 nan]
 ['Nine Lives' 2016 87 5.3 12435 19.64]]

Manejar los valores faltantes en 'Revenue(Millions)' reemplazándolos con la media de la columna.

In [39]:
import pandas as pd
import numpy as np

print("Valores faltantes antes del reemplazo:")
print(dataset_seleccionado.isnull().sum())

valores_faltantes = dataset_seleccionado['Revenue (Millions)'].isnull().sum()
print(f"La columna 'Revenue(Millions)' tiene {valores_faltantes} valores faltantes.\n")

media_revenue = dataset_seleccionado['Revenue (Millions)'].mean()
dataset_seleccionado['Revenue (Millions)'].fillna(media_revenue, inplace=True)

#Verificar que los valores faltantes han sido reemplazados
print(dataset_seleccionado)

Valores faltantes antes del reemplazo:
Title                 0
Year                  0
Runtime (Minutes)     0
Rating                0
Votes                 0
Revenue (Millions)    0
dtype: int64
La columna 'Revenue(Millions)' tiene 0 valores faltantes.

                       Title  Year  Runtime (Minutes)  Rating   Votes  \
0    Guardians of the Galaxy  2014                121     8.1  757074
1                 Prometheus  2012                124     7.0  485820
2                      Split  2016                117     7.3  157606
3                       Sing  2016                108     7.2   60545
4              Suicide Squad  2016                123     6.2  393727
..                       ...   ...                ...     ...     ...
995     Secret in Their Eyes  2015                111     6.2   27585
996          Hostel: Part II  2007                 94     5.5   73152
997   Step Up 2: The Streets  2008                 98     6.2   70699
998             Search Party  2014                 93     5.6    4881
999               Nine Lives  2016                 87     5.3   12435

     Revenue (Millions)
0            333.130000
1            126.460000
2            138.120000
3            270.320000
4            325.020000
..                  ...
995           82.956376
996           17.540000
997           58.010000
998           82.956376
999           19.640000

[1000 rows x 6 columns]